body { 
  height: 100vh;
  background-repeat : no-repeat;
  background-size : cover;
  overflow-y:hidden;
}

.clockDiv{
  width: 100%;
  opacity: 0;
}

.wirteNameForm{
  width: 100%;
  opacity: 0;
}
.nameInput{
  background-color: transparent;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  font-weight: bold;
  color: #ffffff;
  width: 38%;
  font-size: 5vw;
  outline: none;
  font-family: 'Amatic SC', cursive, 'Noto Sans KR', sans-serif;
}
.toDoInput {
  background-color: transparent;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  font-weight: bold;
  color: #ffffff;
  width: 60%;
  font-size: 5vw;
  outline: none;
  font-family: 'Amatic SC', cursive, 'Noto Sans KR', sans-serif;
}

input::-webkit-input-placeholder {
  color: white;
}

.appForm {
  text-align: center;
  position: relative;
 
}

.greet {
  position: relative;
  bottom: 100px;
  opacity: 0;
}


.clock {
  font-size: 7vw;
  font-family: 'Gothic A1', sans-serif;
}

.weatherForm {
  text-align: left;
  height: 100%;
}

.btn {
  cursor: pointer;
}

.delBtn {
  background-color: transparent;
  border: none;
  outline: none;
}

h1 {
  color: white;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.greetings {
  display: none;
  font-size: 5vw;
  font-family: 'Open Sans Condensed', sans-serif;
}

.form,
.hiding {
  display: none;
}

.showing {
  display: block;
}

h4 {
  color: white;
}

.span {
  color: white;
  font-size: 50%;
}

.toDo {
  position: relative;
  bottom: 170px;
  opacity: 0;
}

ul {
  font-size: 2.5vw;
  position: relative;
  list-style: none;
}

li {
  color: white;
}

spanc {
  color: white;
}

.toDoListForm {
  width: 100%;
  text-align: left;
  
 
}

.clockDown{
  position: relative;
  top: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.greetings {

  font-family: 'Amatic SC', cursive, 'Noto Sans KR', sans-serif;
}
.name {
  font-family: 'Nanum Gothic Coding', monospace; 
  font-weight: normal;
}


