body {
  background-color: #2c3e50;
}

input{
  background-color: transparent;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  font-weight: bold;
  color: #d9dab0;
  width: 60%;
  font-size: 300%;
  outline:none;
  
}

input::-webkit-input-placeholder { color: white; }

.appForm {
  text-align: center;
  position: relative;
  top: 100px;
}

.greet{
  position: relative;
  bottom: 100px;
}


.clock{
  font-size: 700%;
  font-family: 'Open Sans Condensed', sans-serif;
}

.weatherForm {
  text-align: right;
  height: 100%;
}

.btn {
  cursor: pointer;
}

.delBtn {
background-color: transparent;
border: none;
outline:none;
}

h1 {
  color: white;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.greetings{
  display: none;
  font-size: 400%;
  font-family: 'Open Sans Condensed', sans-serif;
}

.form,
.hiding {
  display: none;
}

.showing {
  display: block;
}

h4 {
  color: white;
}

.span {
  color: white;
  font-size: 50%;
}

.toDo{
  position: relative;
  bottom: 170px;
}

ul{
 font-size: 200%;
}

li {
  color: white;
}

spanc {
  color: white;
}

.toDoListForm {
  position: relative;
  right: 145px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}